html {
    background-color: #dcd5cf;
}

a {
    text-decoration: none;
   
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1vw 1vw 1vw 1vw;
    align-items: center;
    background-color: #1b0a02;

    & ul {
        display: flex;

    }

    & li {
        margin: 0px 10px 0px 10px;
    }

    & a {
        color: #7f7e5c;
        display: block;
        border: 2px solid #b4b383;
        border-radius: 20px;
        padding: 10px 20px;
    }

}

header a.marcado {
    border: 2px solid #b4b383;
    background-color: #683d049c;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
}

section.conceito {
    background: url(../images/background6.png);
    background-size: cover;
    padding: 15vw;
}

section.conceito h2 {
    font-size: 5rem;
    padding-bottom: 18px;
    font-weight: bolder;
    color: #f7e8dc;
}

section.conceito p {
    padding: 10px;
    font-size: 1.5rem;
    color: #ffffff;
}

section.distincao img {
    max-width: 20%;
    padding: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.distincao p.marcacao {
    background-color: #a5b57c;
    display: inline;
    padding: 5px 20px;
    font-size: 1.5rem;
    color: #1b0a02;
}

section.distincao p.marcacaoDois {
    background-color: #84693c;
    display: inline;
    padding: 5px 20px;
    font-size: 1.5rem;
    color: #ffffff;
}

section.distincao {
    background-color: #7f7e5c;
    background-size: cover;
    padding: 8vw;
}

section.distincao h2 {
    font-size: 5rem;
    padding-bottom: 5vw;
    color: #1b0a02;
}

section.distincao p {
    margin: 10px 20px;
    padding: 10px;
    font-size: 1.5rem;
    color: #ffffff;
}



section.influencias {

    background-color: #a5b57c;
    background-size: cover;
    padding: 8vw;
}

section.influencias p {
    margin: 10px 20px;
}

section.influencias p.horas {
    color: white;
    background-color: #7f7e5c;
    border-radius: 20px;
    padding: 20px;
}

section.influencias p.cedo {
    color: white;
}

section.influencias p.marcacao {
    background-color: #84693c;
    color: white;
    border-radius: 20px;
    display: inline;
}

section.influencias h2 {
    font-size: 5rem;
    padding-bottom: 18px;
    color: #ffffff;
    font-weight: bolder;
}

section.influencias span {
    color: #84693c
}


section.influencias p {
    padding: 10px;
    font-size: 1.5rem;
    color: #1b0a02;
}

section.midia h3 {
    font-weight: bolder;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2vw;
}

section.midia {
    background: url(../images/cadeiras.png);
    background-size: cover;
    padding: 10vw;

}

section.espaco {
    background: #c3a778;
    padding: 10vw 10vw;
}

section.espaco ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section.espaco ul li.itens {
    text-align: center;
    background: #fffbf5;
    border: 3px solid #000000;
    gap: 20px;

}

section.espaco ul li h3 {
    font-size: 2rem;
    padding: 10px;
    color: #000000;
}

section.espaco ul li p.sub {
    padding: 10px 20px;
    font-size: 1.4rem;
    color: #6f7a52;
}

section.espaco ul li p {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #000000;
    font-weight: bolder
}

section.espaco ul li p.uso {
    background-color: #fffbf5;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1.2rem;
}

section.espaco img {
    max-width: 100%;
    padding: 2px 10px;
    display: block;
    margin-left: auto;

    border: 1px solid #745a13;
    border-radius: 20px;
    background-color: #e9d7b6;
}

section.espaco p.funcao {
    display: inline;
    padding: 10px 20px;
    background-color: #e9d7b6;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bolder;
    border: 2px solid #745a13;
    border-radius: 20px;

}

section.midia a button.conselhos {
    background-color: #fffefd;
    color: #7f7e5c;
    font-weight: bolder;
    padding: 20px 50px 20px 50px;
    margin: 2vw 2vw;

}

section.midia a button {
    background-color: #e9d7b6;
    color: #7f7e5c;
    font-weight: bolder;
    padding: 20px 60px 20px 60px;
    margin: 1vw 1vw;


}

section.midia h2 {
    font-size: 5rem;
    padding-bottom: 18px;
    color: #f4efe5;
    font-weight: bolder;
}

section.midia p {
    padding: 10px;
    font-size: 1.3rem;
    color: #ffffff;
}


section.reflexoes {
    background: url(../images/background7.png);
    background-size: cover;
    padding: 15vw;
}

section.reflexoes h2 {
    font-size: 5rem;
    padding-bottom: 18px;
    color: #f4efe5;
    font-weight: bolder;
    text-align: center;
}

section.reflexoes p {
    padding: 20px 20px;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}

section.estudo {
    background-color: #7f7e5c;
    background-size: cover;
    padding: 5vw 5vw;
    text-align: left
}

section.estudo h2 {
    font-size: 3rem;
    padding-bottom: 5px;
    margin: 1vw 1vw;
    color: #3a1b01;
}

section.estudo ul {
    display: flex;

    gap: 5vw;
}

section.estudo ul li {
    text-align: center;
    background: #e9d7b6;
    border: 3px solid #ffffff;
    gap: 10px;

}

section.estudo p.subDois {
    color: #ffffff;
    font-size: 1.5rem;

    padding: 10px 20px;

    margin: 2vw 1vw;
    border-radius: 20px;
}

section.estudo ul li p {
    font-size: 1.2rem;
    font-weight: bolder;
}



section.estudo p.sub {
    color: #fbf7ba;
    font-size: 1.3rem;

    margin: 3vw 2vw;
}


section.aprendizado {
    background: url(../images/pixelado.png);
    background-size: cover;
    padding: 8vw 8vw;

    text-align: center;
}

section.aprendizado h3 {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #000000;
    margin-bottom: 2vw;
}

section.aprendizado h2 {
    font-size: 5rem;
    padding-bottom: 18px;
    margin: 2vw 2vw;
    color: #faf399;
    font-weight: bolder;
}

section.aprendizado p.frase {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fbf7ba;
    background-color: rgb(97, 61, 8);
    display: inline;
    border-radius: 5px;
}

section.aprendizado p {
    padding: 30px;
    font-size: 1.5rem;

    color: #f7f3aa;
}