html {
    background-color: #dcd5cf;
}

a {
    text-decoration: none;
   
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1vw 1vw 1vw 1vw;
    align-items: center;
    background-color: #1b0a02;

    & ul {
        display: flex;

    }

    & li {
        margin: 0px 10px 0px 10px;
    }

    & a {
        color: #7f7e5c;
        display: block;
        border: 2px solid #b4b383;
        border-radius: 20px;
        padding: 10px 20px;
    }

}

header a.marcado {
    border: 2px solid #b4b383;
    background-color: #683d049c;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
}


section.conheca {
    background-color: #ad8c5b;
    padding: 10vw;
    text-align: center;
}

section.conheca h1 {
    font-size: 7rem;
    padding-bottom: 18px;
    margin: 2vw 2vw;
    color: #fffbc0;
    font-weight: bolder;
}

section.conheca p {
    padding: 10px;
    font-size: 2.5rem;
    color: #f8f0f0;
        margin: 2vw 2vw;
    background-color: #723b07;
}

section.quemSomos {
    background-color: #523304;
    padding: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20vw;
}

section.quemSomos p {
    padding: 10px;
    font-size: 2.5rem;
    color: #f1dede;
    
}

section.alunos {
    background-color: #ccb180;
    padding: 5vw 5vw;
    text-align: center;
}

section.alunos ul li {
    margin: 3vw 3vw;
}

section.alunos ul li h3 {
    font-size: 3rem;
    padding: 10px;
    color: #f5e9d3;
    text-shadow: 2px 2px #755942;
    margin: 1vw;
}


section.alunos ul li p {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #fff0d3;
    display: inline;
    background: #462912;
    border-radius: 20px;

}


section.alunos ul li img {
    max-width: 20%;
    border: 2.2px solid #a03d27;
    border-radius: 15%;

}

section.alunosDois {
    background-color: #523304;
    padding: 5vw 5vw;
    text-align: center;
}

section.alunosDois ul li {
    margin: 3vw 3vw;
}

section.alunosDois ul li h3 {
    font-size: 3rem;
    padding: 10px;
    color: #ebc09d;
    text-shadow: 2px 2px #94745c;
    margin: 1vw;
}


section.alunosDois ul li p {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: hsl(36, 89%, 17%);
    display: inline;
    background-color: #ccb180;
    border-radius: 20px;
}

section.alunosDois ul li img {
    max-width: 20%;
    border: 2.2px solid #a03d27;
    border-radius: 15%;
}

section.alunosDois p.dec {
    text-align: center;
}

footer {
    background-color: #3a1b01;
    padding: 2vw 2vw;
}

footer a {
    margin: 50px;

}

footer p {
    padding: 10px 50px 10px 50px;
    color: white;
    margin: 0.4vw;
    text-align: center;
}

footer span {
    font-weight: bolder;

}