
.equipe {
     background-color: #f7f3aa;
    padding: 10vw;
    text-align: center;

}
section.equipe h1 {
    font-size: 7rem;
    padding-bottom: 18px;
    margin: 2vw 2vw;
    color: #3a1b01;
    font-weight: bolder;
}

section.equipe p {
    padding: 10px;
    font-size: 2.5rem;
    color: #3a1b01;
        margin: 2vw 2vw;
    background-color: #f7f3aa;
}

section.quemSomos {
    background-color: #f7f3aa;
    padding: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20vw;
}

section.quemSomos p {
    padding: 10px;
    font-size: 2.5rem;
    color: #3a1b01;
}

.slider {
    margin: 0 auto;
    width: 1264px;
    height: 500px;
    overflow: hidden;
    background-color: #e1d584;

}

.slider h1 {
    font-size: 2rem;
}
.slider p {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.slides {
    
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 400px;
    float:left;
}

.manualNav {
    position: absolute;
    width: 1200px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.manualButton {
    border: 4px solid #ffffff;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

.manualButton:not(:last-child) {
    margin-right: 40px;
}

.manualButton:hover {
    background-color: #ffffff;
}

#radio1:checked~.first {
    margin-inline-end: 20%;
}

#radio2:checked~.first {
    margin-left: -24.5%;
}

#radio3:checked~.first {
    margin-left: -49.5%;
}

#radio4:checked~.first {
    margin-left: -74.5%;
}

#radio5:checked~.first {
    margin-left: -99.5%;
}

.navegação div {
    border: 4px solid #ffffff;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;

}

.navegação  {
    position: absolute;
    width: 200px;
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

.navegação div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navegação .autoButton1 {
    background-color: #ffffff;
}

#radio2:checked ~ .navegação .autoButton2 {
    background-color: #ffffff;
}

#radio3:checked ~ .navegação .autoButton3 {
    background-color: #ffffff;
}

#radio4:checked ~ .navegação .autoButton4 {
    background-color: #ffffff;
}

#radio5:checked ~ .navegação .autoButton5 {
    background-color: #ffffff;
}

